<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}{% if page.title and page.title != "" %} &mdash; {{ page.title }}{% endif %}</title>

    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}  

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?{{ site.time | date: '%s%N' }}">

    <link rel="apple-touch-icon" href="{{ site.icon }}">

    {%- if jekyll.environment == 'production' and site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}

  </head>
  <body>


    {{ content }}

    {% unless site.hide_search %}
      {% include search.html %}
    {% endunless %}

    {% include menu.html %}

    {% unless site.hide_credits %}
      <aside class="site-credits">
        <p>
          <small><a href="https://github.com/patdryburgh/hitchens">Hitchens Theme</a> powered by <a href="http://jekyllrb.com">Jekyll</a></small>
        </p>
      </aside>
    {% endunless %}

  </body>
</html>