---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>
  {% endif %}

  {% if page.translator %}
    <div class="post-meta-top">
      {% if page.author %}
        <div itemprop="author">Texto original de {{ page.author }}</div>
      {% endif %}
      <div itemprop="translator">(Traducido por {{ page.translator }})</div> 
    </div>
  {% endif %}

  {% if page.image %}
    <img class="img" src={{ page.image }} alt="Feature Image"/>
  {% endif %}


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.translator %}
    <a href="{{ page.source }}">Lee el texto original acá</a>
    {% else %}    
      {% if page.author %}
        <div itemprop="author">Escrito por {{ page.author }}</div>      
      {% endif %}
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article>
