---
layout: default
---

<header class="site-masthead">
    {% include menu.html %}
      <h2>
        Tag #{{page.tag}}
      </h2>
  </header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

    <ul>
      {% for post in site.posts %}
      {% if post.tags contains page.tag %}
      <li><a class="li" href="{{ post.url }}">

        {% if post.title == "" %}
        {{ post.url | slice: 20, 30}}
        {% else %} 
        {{ post.title }}
        {% endif %}
      
      
      </a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></li>
      {% endif %}
      {% endfor %}
    </ul>
	
</article>