---
layout: default
title: Tags
---

<header class="site-masthead">
    {% include menu.html %}
    
    {% if site.title %}
      <h2>
        Tags
      </h2>
    {% endif %}
  </header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

{% assign tags = site.tags | sort %}
<ul>
{% for tag in tags %}
 <li><a href="/tag/{{ tag | first}}/">{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }}){% unless forloop.last %}, {% endunless %}</a></li>
{% endfor %}
</ul>

</article>